/* src/styles/global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ▼▼▼ カスタムCSSは @tailwind の下に記述 ▼▼▼ */

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

/* アニメーションの初期状態 */
.fade-in-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* is-visibleクラスが付いた時の状態 */
.fade-in-on-scroll.is-visible {
  opacity: 1;
  transform: translateY(0);
}